body {
	background-color: #121212;
	height: 80%;
}

a:link, a:visited {
	font-size: 40pt;
	color: gray;
	text-decoration: none;
}

a:hover {
	color: white;
}

#lblock {
	position: relative;
	display:inline-block;
	text-align:right;
	width: 45%;
	padding-right: 20px;
}

.divider {
	position: relative;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	background: #121212;
	width: 10px;
	display: inline-block;	
	height:300px;
}

#rblock {
	position: relative;
	display:inline-block;
	text-align:left;
	width: 45%;
	padding-left: 20px;
}

table {
	width: 100%;
}

td {
	height: 600px;
	vertical-align: middle;
}
